<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/admin.css">

    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

</head>

<body>

    <!-- START NAV -->
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="index.html">HUB</a>
            <div class="navbar-burger burger is-active" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {% block navbar_start %}
                {% endblock %}
            </div>
            <div class="navbar-end">
                {% block navbar_end %}
                {% endblock %}
                <div class="navbar-item">
                    <div class="buttons">
                      <a class="button is-primary">
                        <strong>Sign up</strong>
                      </a>
                      <a class="button is-light">
                        Log in
                      </a>
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <!-- END NAV -->

    {% block content %}{% endblock %}

    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                    <input class="input" type="email" placeholder="joe@blogs.com">
                    </div>
                    <p class="help">Enter your email address</p>
                </div>
                <div class="control">
                    <button class="button is-primary">Log in</button>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>
